* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  background-image: url("./assets/headerCover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 15rem;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4rem 4rem 0 4rem;
}

h2 {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2.4rem;
  color: white;
  font-weight: bold;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

li a {
  font-size: 1.8rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

.mainCard {
  margin-top: 5rem;

}

.mainPrice {
  font-size: 1.8rem;
  font-weight: bold;
}

.mainFooter {
  position: relative;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  margin-top: 21.6rem;
}

.parFooter {
  margin-right: 2rem;
}

.container-products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5rem;
  padding-bottom: 10rem;
}

.product-header {
  width: 100%;
  max-width: 65rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.4rem solid lightgrey;
  margin: 0 auto;
}

.product-title {
  width: 45%;
}

.price {
  width: 15%;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
}

.quantity {
  width: 30%;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
}

.product {
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 0.1rem solid lightgrey;
}

/*
.incartProducts {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 0.1rem 0;
}

.containerProducts {
  max-width: 75rem;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 5rem;
}

.productHeader {
  width: 100%;
  max-width: 65rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 0.4rem solid lightgrey;
  margin: 0 auto;
}

.productTitle {
  width: 45%;
}

.image.imageCart {
  width: 20%;
}

.product {
  width: 15%;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
}

.price {
  width: 15%;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
}

.quantity {
  width: 10%;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
}

.total {
  width: 10%;
  border-bottom: 0.1rem solid lightgrey;
  display: flex;
  align-items: center;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.basketTotalTitle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}*/