* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

header {
  background-image: url("./assets/headerCover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 10rem;
  position: relative;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5rem 3rem 0 3rem;
}

h2 {
  font-size: 2.2rem;
  color: white;
  font-weight: lighter;
}

nav li {
  list-style: none;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

li a {
  font-size: 1.8rem;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

.mainCard {
  margin-top: 5rem;

}

.mainPrice {
  font-size: 1.8rem;
  font-weight: bold;
}

.mainFooter {
  position: relative;
  background-color: grey;
  color: white;
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  margin-top: 21.6rem;
}

.parFooter {
  margin-right: 2rem;
}